.App{
  font-family : 'gulim', 'gothic'
}


.nav{
  display: flex;
  background-color: black;
  width: 120%;
  color: white;
  padding-left: 20px;
  padding-top: 5px;
}

.category-bar{
	margin: 10px auto;
  display: flex;
}

.category-bar__column{
  width: 4rem;
  height: 4rem;
  display: inline-block;
  justify-content: center;
	margin: 10px auto 30px auto;
}